<div class="page-header">
  <h3 class="page-title">Massivo Anagrafica</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ngx-dropzone (change)="onSelect($event)">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
  </div>
</div>
