/* Aggiungi eventuali stili personalizzati per la tua pagina */
.dropzone {
  border: 2px dashed #4CAF50;
  padding: 20px;
  text-align: center;
}

.dz-message {
  font-size: 16px;
  color: #4CAF50;
}
